.about__title {
  font-family: "JuliusSansOne";
  font-size: 48px;
  margin: 0;
  padding: 0;
  margin: 50px auto 5px;
  text-align: end;
}

.about__content {
  display: flex;
  flex-direction: row-reverse;
}

.about__photo {
  max-width: 250px;
  max-height: 250px;
}
