.footer {
  margin: 0;
  padding: 50px;
  display: flex;
}

.footer__copyright {
  margin: 0 auto;
  font-family: "JuliusSansOne";
  font-size: 16px;
  color: #db7093;
  text-align: center;
}

.footer__link {
  color: #db7093;
  text-decoration: none;
}

.footer__link:hover {
  color: darkgrey;
}

@media screen and (max-width: 520px) {
  .footer__copyright {
    max-width: 150px;
  }