.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: 30px;
  margin-left: auto;
  padding: 0;
}

.nav__link {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.nav__link:hover {
  color: #db7093;
}

@media screen and (max-width: 520px) {
  .nav {
    flex-direction: column;
  }

  .nav__link {
    font-size: 20px;
  }
}
